#Bloque1{
    background-color: darksalmon;
    font-family: cursive;
    margin: 60px 60px 30px 40px;
    padding-left: 50px;  
}
#Bloque2{
    background-color: darkslategray;
    font-family: cursive;
    margin: 30px 90px 30px 90px;
    padding-left: 75px;
}
#enlace{
    display: block;
}