.enlace1{
    color: peru;
    font-family: Verdana;
}
.enlace2{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
}

#Bloque1{
    background-color: darksalmon;
    font-family: cursive;
}
#Bloque2{
    background-color: darkslategray;
    font-family: cursive;
}